In [1]:
import pandas as pd
import numpy

In [2]:
df_flat_grid = pd.read_csv('Africa_EU_Asia_10km_inland.csv')

In [3]:
CountryCode = 'BG'
df_flat_grid.rename(columns={'FIPS_10_': 'CountryCode'}, inplace=True)

In [4]:
df_flat_grid_country = df_flat_grid [df_flat_grid  ['CountryCode'] == 'BG']
df_flat_grid

,FID_,FID_Africa,id,long,lat,FID_ne_10m,ADMIN,CountryCode,ISO_A2,ISO_A3,SUBREGION
0,NaN,46743,46744,68.85,-49.65,13,French Southern and Antarctic Lands,FS,TF,ATF,Seven seas (open ocean)
1,NaN,46744,46745,68.95,-49.65,13,French Southern and Antarctic Lands,FS,TF,ATF,Seven seas (open ocean)
2,NaN,46745,46746,69.05,-49.65,13,French Southern and Antarctic Lands,FS,TF,ATF,Seven seas (open ocean)
3,NaN,46751,46752,69.65,-49.65,13,French Southern and Antarctic Lands,FS,TF,ATF,Seven seas (open ocean)
4,NaN,46753,46754,69.85,-49.65,13,French Southern and Antarctic Lands,FS,TF,ATF,Seven seas (open ocean)
...,...,...,...,...,...,...,...,...,...,...,...
991815,NaN,2493208,2493209,128.35,72.95,191,Russia,RS,RU,RUS,Eastern Europe
991816,NaN,2493209,2493210,128.45,72.95,191,Russia,RS,RU,RUS,Eastern Europe
991817,NaN,2493210,2493211,128.55,72.95,191,Russia,RS,RU,RUS,Eastern Europe
991818,NaN,2493211,2493212,128.65,72.95,191,Russia,RS,RU,RUS,Eastern Europe
991819,NaN,2493218,2493219,129.35,72.95,191,Russia,RS,RU,RUS,Eastern Europe

In [5]:
#Reset index to place 'level_0' column
df_flat_grid_country = df_flat_grid_country.reset_index().reset_index()

In [6]:
##Create OED Dataframe
df_oed = df_flat_grid_country[['level_0','lat','long','CountryCode']]

In [7]:
#Rename 'level_0' to 'LocNumber'
df_oed.columns = ['LocNumber','Latitude','Longitude','CountryCode']

In [8]:
df_oed

      LocNumber  Latitude  Longitude CountryCode
0             0     20.95      92.25          BG
1             1     21.05      92.15          BG
2             2     21.05      92.25          BG
3             3     21.15      92.15          BG
4             4     21.25      92.15          BG
...         ...       ...        ...         ...
1212       1212     26.35      88.65          BG
1213       1213     26.35      88.95          BG
1214       1214     26.35      89.05          BG
1215       1215     26.45      88.55          BG
1216       1216     26.55      88.35          BG

[1217 rows x 4 columns]

In [9]:
data = {'LocPerilsCovered': ['AA1'], 'LocPeril': ['AA1'], 'ConstructionCode': [5000],
         'OccupancyCode': [1000],'LocCurrency': ['USD'], 'BuildingTIV': [100000], 
        'OtherTIV': [1000], 'ContentsTIV': [10000], 'BITIV': [1000]
       }
dfitems = pd.DataFrame(data)

In [10]:
frames = [df_items, df_occ1, df_occ2, df_occ3]

result = pd.concat(frames)

NameError: name 'df_items' is not defined

In [11]:
#Use level_0 for locnumber
df_flat_grid_country = df_flat_grid_country.reset_index().reset_index()

ValueError: cannot insert level_0, already exists

In [14]:
df_oed = df_flat_grid_country[['level_0','lat','long']]

In [13]:
df_oed.columns = ['LocNumber','Latitude','Longitude']

In [28]:
df_oed

  LocNumber  Latitude area_peril_id vulnerability_id  group_id
0  group_id         1                                        1

In [20]:
#PortNumber	AccNumber	LocNumber	CountryCode	Latitude	Longitude	PostalCode	GeogScheme1	GeogName1	GeogScheme2	GeogName2	OccupancyCode	ConstructionCode	NumberOfBuildings	LocCurrency	LocPerilsCovered	BuildingTIV	OtherTIV	ContentsTIV	BITIV

In [10]:
df_oed

      LocNumber  Latitude  Longitude
0             0     20.95      92.25
1             1     21.05      92.15
2             2     21.05      92.25
3             3     21.15      92.15
4             4     21.25      92.15
...         ...       ...        ...
1212       1212     26.35      88.65
1213       1213     26.35      88.95
1214       1214     26.35      89.05
1215       1215     26.45      88.55
1216       1216     26.55      88.35

[1217 rows x 3 columns]

In [53]:
# Creates Dataframe & Populates necessary columns 
base_loc_fields = {'PortNumber','AccNumber','LocNumber','CountryCode','Latitude','Longitude'
    'LocPerilsCovered','LocPeril','PostalCode','ConstructionCode',
    'OccupancyCode','LocCurrency','BuildingTIV','OtherTIV','ContentsTIV',
    'BITIV'}

In [13]:
base_loc_fields

{'AccNumber',
 'BITIV',
 'BuildingTIV',
 'ConstructionCode',
 'ContentsTIV',
 'CountryCode',
 'Latitude',
 'LocCurrency',
 'LocNumber',
 'LocPeril',
 'LongitudeLocPerilsCovered',
 'OccupancyCode',
 'OtherTIV',
 'PortNumber',
 'PostalCode'}

In [ ]:
flat_grid = ['LocNumber'] + 1